<!Doctype html>
<html lang="ko">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="/static/images/favicon.png">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">

    <!-- JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>

    <!-- 구글폰트 -->
    <link href="https://fonts.googleapis.com/css?family=Stylish&display=swap" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/paginationjs/2.1.4/pagination.min.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/paginationjs/2.1.4/pagination.css"/>

    <title>스파르타코딩클럽 | 나홀로 메모장</title>

    <!-- style -->
    <style type="text/css">
        * {
            font-family: "Stylish", sans-serif;
        }

        .comment {
            color: blue;
            font-weight: bold;
        }

        .wrap {
            width: 900px;
            margin: auto;
        }

        #post-box {
            width: 500px;
            margin: 20px auto;
            padding: 50px;
            border: black solid;
            border-radius: 5px;
        }

        .form-inline {
            margin-left: 320px;
        }

        .pagination {
            margin: auto;
            margin-bottom: 10px;
        }

        .select {
            width: 100px;
            float: right;
            margin-bottom: 8px;
        }
    </style>
    <script>

        let totalData = 1000;    // 총 데이터 수
        let dataPerPage = 5;    // 한 페이지에 나타낼 데이터 수
        let pageCount = 10;        // 한 화면에 나타낼 페이지 수

        function paging(totalData, dataPerPage, pageCount, currentPage) {

            console.log("currentPage : " + currentPage);

            let totalPage = Math.ceil(totalData / dataPerPage);    // 총 페이지 수
            let pageGroup = Math.ceil(currentPage / pageCount);    // 페이지 그룹

            console.log("pageGroup : " + pageGroup);

            let last = pageGroup * pageCount;    // 화면에 보여질 마지막 페이지 번호
            if (last > totalPage)
                last = totalPage;
            let first = last - (pageCount - 1);    // 화면에 보여질 첫번째 페이지 번호
            let next = last + 1;
            let prev = first - 1;

            console.log("last : " + last);
            console.log("first : " + first);
            console.log("next : " + next);
            console.log("prev : " + prev);

            let $pingingView = $("#paging");

            let html = "";

            if (prev > 0)
                html += "<a href=# id='prev'><</a> ";

            for (let i = first; i <= last; i++) {
                html += "<a href='#' id=" + i + ">" + i + "</a> ";
            }

            if (last < totalPage)
                html += "<a href=# id='next'>></a>";



            $("#paging a").click(function () {

                var $item = $(this);
                var $id = $item.attr("id");
                var selectedPage = $item.text();

                if ($id == "next") selectedPage = next;
                if ($id == "prev") selectedPage = prev;

                paging(totalData, dataPerPage, pageCount, selectedPage);
            });

        }

        $("document").ready(function () {
            paging(totalData, dataPerPage, pageCount, 1);
        });
        $(document).ready(function () {
            $("#cards-box").html("");
            showArticles();
        });

        function openClose() {
            // id 값 post-box의 display 값이 block 이면(= 눈에 보이면)
            if ($("#post-box").css("display") == "block") {
                // post-box를 가리고
                $("#post-box").hide();
                // 다시 버튼을 클릭하면, 박스 열기를 할 수 있게 텍스트 바꿔두기
                $("#btn-post-box").text("포스팅 박스 열기");

            } else {
                // 아니면(눈에 보이지 않으면) post-box를 펴라
                $("#post-box").show();
                // 다시 버튼을 클릭하면, 박스 닫기를 할 수 있게 텍스트 바꿔두기
                $("#btn-post-box").text("포스팅 박스 닫기");
                $('#post-url').val("");
                $('#post-comment').val("");
            }
        }

        function postArticle() {
            let title = $('#post-url').val();
            let content = $('#post-comment').val();
            let idx = $('#post-idx').val();

            if (idx != "") {
                $.ajax({
                    type: "PUT",
                    url: "/post",
                    data: {title_give: title, content_give: content, idx_give: idx},
                    success: function (response) {
                        if (response["result"] == 'success') {// 성공하면
                            alert('수정 성공~');
                            window.location.reload()
                        }
                    }
                })

            } else {
                $.ajax({
                    type: "POST",
                    url: "/post",
                    data: {title_give: title, content_give: content},
                    success: function (response) {
                        if (response["result"] == 'success') {// 성공하면
                            alert('포스팅 성공~');
                            window.location.reload()
                        }
                    }
                })
            }
        }

        function updateArticle(idx) {
            $("#post-box").show();
            $("#btn-post-box").text("포스팅 박스 닫기");
            $.ajax({
                type: "GET",
                url: `/post?idx_give=${idx}`,
                data: {},
                success: function (response) {
                    let posts = response["posts"];
                    console.log(posts)
                    let title = posts['title'];
                    let content = posts['content'];
                    $('#post-url').val(title);
                    $('#post-comment').val(content);
                    $('#post-idx').val(idx);

                }
            })


        }

        function readArticle(idx) {
            $.ajax({
                type: "GET",
                url: `/post?idx_give=${idx}`,
                data: {},
                success: function (response) {
                    let posts = response["posts"];
                    console.log(posts)
                    let title = posts['title'];
                    let content = posts['content'];
                    $('#modal-title').text(title);
                    $('#modal-content').text(content);

                }
            })

        }

        function deleteArticle(idx) {
            $.ajax({
                type: "DELETE",
                url: `/post?idx_give=${idx}`,
                data: {},
                success: function (response) {
                    if (response["result"] == 'success') {// 성공하면
                        alert('삭제 성공~');
                        window.location.reload()
                    }
                }
            })


        }

        function sortdown() {
            $("#up").hide();
            $("#down").show();
            window.location.reload();
        }

        function sortup() {
            $("#up").show();
            $("#down").hide();

        }

    </script>

</head>

<body>
<div class="wrap">
    <div class="jumbotron">
        <h1 class="display-4">나홀로 메모장!</h1>
        <hr class="my-4">
        <p class="lead">
            <button onclick="openClose()" id="btn-post-box" type="button" class="btn btn-primary">포스팅 박스 열기
            </button>
        </p>
    </div>
    <div id="post-box" class="form-post" style="display:none">
        <div>
            <div class="form-group">
                <label for="post-url">제목</label>
                <input id="post-url" class="form-control" placeholder="">
            </div>
            <div class="form-group">
                <label for="post-comment">간단한 내용</label>
                <textarea id="post-comment" class="form-control" rows="2"></textarea>
            </div>
            <input id="post-idx" class="form-control" placeholder="" style="display: none">
            <button type="button" class="btn btn-primary" onclick="postArticle()">기사저장</button>
        </div>
    </div>
    <table class="table">
        <div class="col-auto my-1">
            <select class="custom-select mr-sm-2 select" id="inlineFormCustomSelect">
                <option selected>게시글 수</option>
                <option value="1">5</option>
                <option value="2">10</option>
                <option value="3">15</option>
            </select>
        </div>
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">타이틀</th>
            <th scope="col">날짜</th>
            <th scope="col">조회<i class="fa fa-arrow-circle-up" style="display: none" aria-hidden="true"
                                 onclick="sortdown()" id="up"></i><i class="fa fa-arrow-circle-down" aria-hidden="true"
                                                                     id="down" onclick="sortup()"></i>
            </th>
            <th scope="col">삭제</th>
            <th scope="col">수정</th>
        </tr>
        </thead>
        <tbody id="list-post">
        <div id="data-container"></div>
        {% for post in posts %}
            <tr>
                <th scope="col">{{ loop.index }}</th>
                <th scope="col"><a href="#" data-toggle="modal" data-target="#exampleModal"
                                   onclick="readArticle({{ post.idx }})">{{ post.title }}</a></th>
                <th scope="col">{{ post.reg_date }}</th>
                <th scope="col">{{ post.read_count }}</th>
                <th>
                    <button type="button" class="btn btn-danger" onclick="deleteArticle({{ post.idx }})">삭제</button>
                </th>
                <th>
                    <button type="button" class="btn btn-primary" onclick="updateArticle({{ post.idx }})">수정</button>
                </th>
            </tr>
        {% endfor %}

        </tbody>

    </table>
{#    <div id="paging"></div>#}
        <nav aria-label="..." class="pagination" id="paging">
            <ul class="pagination">
                <li class="page-item disabled">
                    <a class="page-link" href="#" tabindex="-1">Previous</a>
                </li>
                <li class="page-item"><a class="page-link" href="#">1<span class="sr-only">(current)</span></a></li>
                <li class="page-item active">
                    <a class="page-link" href="#">2 </a>
                </li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item">
                    <a class="page-link" href="#">Next</a>
                </li>
            </ul>
        </nav>
    <form class="form-inline" method="get" action='/search'>
        <div class="form-group mx-sm-3 mb-2">
            <label for="inputPassword2" class="sr-only">Password</label>
            <input type="text" class="form-control" id="inputPassword2" placeholder="제목" name="search">
        </div>
        <button type="submit" class="btn btn-primary mb-2">검색
        </button>
    </form>
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="modal-title"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modal-title">Modal title</h5>
                </div>
                <div class="modal-body" id="modal-content">
                    ...
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal"
                            onClick="window.location.reload()">Close
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
</body>

</html>